/* Minimalny reset  */
:root {
  box-sizing: border-box;
  --green: #388e3c;
  --blue: #1e5a9c;
  --red: #d32f2f;
  --yellow: #fbc02d;
  --background: #eeeeee;
  --card-background: #fcfcfc;
  --text: #333333;
}

html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio {
  border-color: #333333;
  border-width: 15px;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

.card {
  background-color: var(--card-background);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 100%;
  margin: 20px auto;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  max-width: 100%;
  justify-content: center;
  gap: 20px;
  --polo-color: var(--blue);
  --polo-img: url('../images/polo_b.png');
  content: fit-content;
}

.colors {
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.size {
  width: fit-content;
}

.sizes {
  display: flex;
  gap: 15px;
}

.colors-wrapper {
  display: flex;
  justify-content: center;
  width: auto;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check {
  display: none;
  border-radius: 5px;
}

.sizes {
  display: flex;
  gap: 15px;
}

.m-box {
  width: 40px;
  height: 40px;
  border: 2px solid #555;
  border-radius: 6px;
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-family: sans-serif;
  cursor: pointer;
  user-select: none;
}

.h-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

h1 {
  display: inline;
  font-size: 25px;
}

button {
  background-color: var(--polo-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  border: var(--text) 2px solid;
}

.check:checked + .m-box {
  background: var(--polo-color);
  color: #fff;
}

.S::after {
  content: 'S';
}
.M::after {
  content: 'M';
}
.L::after {
  content: 'L';
}
.XL::after {
  content: 'XL';
}

.colors input[type='radio'] {
  display: inline-block;
}

.image img {
  max-width: 500px;
  object-fit: cover;
  display: none;
}

.img-wrapper {
  border: 2px var(--polo-color) solid;
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
}

span {
  margin-left: auto;
  background-color: var(--polo-color);
  color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: 700;
  display: inline-block;
}

.colors label {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #555;
}
.card:has(#blue:checked) .image img.img-a {
  display: block;
}
.card:has(#green:checked) .image img.img-b {
  display: block;
}
.card:has(#red:checked) .image img.img-c {
  display: block;
}
.card:has(#yellow:checked) .image img.img-d {
  display: block;
}

.card:has(#green:checked) {
  --polo-color: var(--green);
}

.card:has(#yellow:checked) {
  --polo-color: var(--yellow);
}

.card:has(#red:checked) {
  --polo-color: var(--red);
}

.card:has(#blue:checked) {
  --polo-color: var(--blue);
}

.card:has(#blue:checked) .check:checked + .m-box {
  background-color: var(--blue);
}
.card:has(#green:checked) .check:checked + .m-box {
  background-color: var(--green);
}
.card:has(#red:checked) .check:checked + .m-box {
  background-color: var(--red);
}
.card:has(#yellow:checked) .check:checked + .m-box {
  background-color: var(--yellow);
}

.color-picker input[type='radio'] {
  display: none;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  border: 3px solid transparent;
}

.color.blue {
  background: var(--blue);
}
.color.red {
  background: var(--red);
}
.color.green {
  background: var(--green);
}
.color.yellow {
  background: var(--yellow);
}

input[type='radio']:checked + .color {
  border-color: var(--text);
  box-shadow: 0 0 0 3px white inset;
}

.grid-wrapper {
  max-width: 300px;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
